version: "3.9"
services:
  rabbitmq:
    restart: always
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_NODENAME: bep3-rabbitmq-node

  db:
    build: development/db
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_USER=test-db
      - POSTGRES_PASSWORD=test-db
      - DB_APP_NAME=test-db
      - DB_APP_USER=test-db
      - DB_APP_PASS=test-db
    volumes:
      - "./data:/var/data/db"

  db2:
    build: development/db
    ports:
      - "35432:5432"
    environment:
      - POSTGRES_USER=gast-db
      - POSTGRES_PASSWORD=gast-db
      - DB_APP_NAME=gast-db
      - DB_APP_USER=gast-db
      - DB_APP_PASS=gast-db
    volumes:
      - "./data:/var/data/db"

